*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    color: var(--Light-Grey);
}
html{
    font-size: 15px;
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
body{
    height: 100vh;
    background-color: var(--Very-Dark-Blue);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: var(--Dark-Blue);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 25rem;
}
.star-icon-container{
    width: 1rem;
    height: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(216, 12%, 54%, 0.134);
    border-radius: 50%;

}
h1, h2{
    margin: 1rem 0;
    color: var(--White);
}
.rating-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding:  1.5rem;
    border: none;
    border-radius: 50%;
    margin: 2rem 0;
    background-color: hsla(216, 12%, 54%, 0.134);
}
.rating-button:active{
    background-color: var(--Orange);
    color: var(--White);
}
.rating-button-active{
    background-color: var(--Medium-Grey);
    color: var(--White);
}
.submit-button{
    background-color: var(--Orange);
    color: var(--White);
    border: none;
    border-radius: 1rem;
    padding: .7rem;
    letter-spacing: .1rem;
}
.submit-button:active{
    background-color: var(--White);
    color: var(--Orange);
}
#second-card{
    text-align: center;
}
.rated-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rated, span{
    color: var(--Orange);
}
.rated{
    margin-top: 1rem;
    background-color: hsla(216, 12%, 54%, 0.134);
    padding: .5rem;
    border-radius: 1rem;
}
.hidden{
    display: none;
}